@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #f1e089 1.84%, #bb1504 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #f1e089 -13.86%, #bb1504 99.55%);

  --color-bg: #000;
  --color-footer: #121212;
  --color-blog: #f1e089;
  --color-text: #fff;
  --color-subtext: #ff8a71;
}
